{% extends 'modules/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row vertical">
            <div class="col-sm-12">
                <div class="breadcrumb">
                    <p><a href="{% url 'index' %}">Inicio</a> / Ordenes </p>
                </div>
                <div class="card card-outline-secondary">
                    <div class="card-header">
                        <h3 class="mb-0 text-center">Control de Ordenes</h3>
                    </div>
                    <div class="card-block">
                        <form class="form form-horizontal" method="post" action="" id="createOrderForm">

                            <div class="form-group">
                                <label for="orderDate" class="col-sm-2 control-label">Fecha de Orden</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="orderDate" name="orderDate"
                                           autocomplete="off"/>
                                </div>
                            </div> <!--/form-group-->


                            <div class="form-group">
                                <label for="clientName" class="col-sm-2 control-label">Tienda proveedor</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="clientName" name="clientName"
                                           placeholder="Proveedor" autocomplete="off"/>
                                </div>
                            </div> <!--/form-group-->
                            <div class="form-group">
                                <label for="clientContact" class="col-sm-2 control-label">Telefono de Proveedor</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="clientContact" name="clientContact"
                                           placeholder="Numero telefonico" autocomplete="off"/>
                                </div>
                            </div>

                            <table class="table" id="productTable">
                                <thead>
                                    <tr>
                                        <th width="30%">Producto</th>
                                        <!-- <th width>Rate</th> -->
                                        <th width="15%">Quantity</th>
                                        <th width="20%">Total</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr id="" class="">
                                        <td>
                                            <div class="form-group">

                                                <select class="form-control" name="productName[]"
                                                        id="productName<?php echo $x; ?>"
                                                        onchange="">
                                                    <option value="">SELECCIONE</option>
                                                </select>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-group">
                                                <input type="number" name="quantity[]" id="quantity<?php echo $x; ?>"
                                                       onkeyup="" autocomplete="off"
                                                       class="form-control" min="1"/>
                                            </div>
                                        </td>
                                        <td>
                                            <input type="text" name="total[]" id="total<?php echo $x; ?>"
                                                   autocomplete="off"
                                                   class="form-control" disabled="true"/>
                                            <input type="hidden" name="totalValue[]" id="totalValue<?php echo $x; ?>"
                                                   autocomplete="off" class="form-control"/>
                                        </td>
                                        <td>

                                            <button class="btn btn-default removeProductRowBtn" type="button"
                                                    id="removeProductRowBtn" onclick="">
                                                <i class="fa fa-trash" aria-hidden="true"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="subTotal" class="col-sm-6 control-label">Sub-Total</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="subTotal" name="subTotal"
                                                       disabled="true"/>
                                                <input type="hidden" class="form-control" id="subTotalValue"
                                                       name="subTotalValue"/>
                                            </div>
                                        </div> <!--/form-group-->
                                        <div class="form-group">
                                            <label for="vat" class="col-sm-6 control-label">IVA 16%</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="vat" name="vat"
                                                       disabled="true"/>
                                                <input type="hidden" class="form-control" id="vatValue"
                                                       name="vatValue"/>
                                            </div>
                                        </div> <!--/form-group-->
                                        <div class="form-group">
                                            <label for="totalAmount" class="col-sm-6 control-label">Total</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="totalAmount"
                                                       name="totalAmount" disabled="true"/>
                                                <input type="hidden" class="form-control" id="totalAmountValue"
                                                       name="totalAmountValue"/>
                                            </div>
                                        </div> <!--/form-group-->




                                    </div>



                                        </div>

                                        <div class="form-group submitButtonFooter" style="margin-top: 50px">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <!-- <button type="button" class="btn btn-default" onclick="addRow()"
                                                        id="addRowBtn" data-loading-text="Loading..."><i
                                                        class="glyphicon glyphicon-plus-sign"></i> Add Row
                                                </button> -->

                                                <button type="submit" id="createOrderBtn" data-loading-text="Loading..."
                                                        class="btn btn-success"><i
                                                        class="glyphicon glyphicon-ok-sign"></i> Realizar Pedido
                                                </button>

                                                <button type="reset" class="btn btn-default" a href="dashboard.html">
                                                    <i class="glyphicon glyphicon-erase"></i> Cancelar
                                                </button>

                                                <button type="reset" class="btn btn-default" onclick="resetOrderForm()">
                                                    <i class="glyphicon glyphicon-erase"></i> Reiniciar
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>
                    <!--/card-block-->
                </div>
            </div>
        </div>


    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/order.js' %}"></script>
{% endblock %}
